



@media only screen and (width:640px){

    a img {width:100%  !important}
    img {width:100% !important}
    #osama-item-action-1 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


#footer-widget .footer-widget {
    width: 108.9% !important;
    text-align: right !important;
      margin-right: -20px;}

    .item-title {width: 150% !important;}
    #osama-post-title-1 { width: 115% !important;background: rgba(255, 255, 255, 0);margin-top: -61px;padding: 7px;margin-bottom: 30px;
}
    #osama-post-title-2 {   background-color: #00bcd4 !important;
    width: 150% !important;
    margin-right: -40px;
    height: auto !important; }
    #osama-post-title-3 {    height: auto !important;
    margin-top: -42px;
    margin-top: -40px;
    margin-bottom: 40px; }

    #osama-breadcrumbs {height:auto !important} 
    .slider {width: 100% !important;}
    #osama-display-name-post  {display:none}

#osama-comment {
width: 107% !important;
    margin-right: -11px !important;
height: auto !important;

    }

.col-sm-4 {
margin-left: -9px !important;
    margin-top: 10px !important;
width: 96% !important;
    }
    #osama-post { width: 109% !important;
    margin-right: -28px;

    }
.col-lg-9 {
    width: 133% !important;

margin-right: 26px   !important;
    }

.blog {
    float: right !important;
    width: 100% !important;
    margin-right: -34px;

}
.row .col.l3
{
    width: 133% !important;


    }



#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#sidebar { width:100%;}
    #footer {width:100%;}
.comment_body p {
    margin-top: 110px;
}
.col-sm-4 {
margin-left: 0px !important;
    margin-top: 10px !important;    width: 92% !important;
    float: left !important;
  }

.right {
    float: left !important;
}
#osama-read-more {
font-size: 15px !important;
  }
#osamaweb  {    width: 30% !important;}
  .name {    margin-top: 15px;}
   .card { width: auto !important;
    margin-right: -5px !important;
  }
.card-action-buttons li {
    float: right;
    margin-top: -23px;
    margin-left: 10px;
  }
.row .col.l3 {
    width: 100% !important;
}
#main {
    padding-left: 0px   !important;
}
.mobile-post-outer {
width: 100% !important;
    padding: 30px !important;

  }
  .osama-widget-1 {margin-right:10px !important;}
#footer-widget {
    max-width: 109% !important;
    margin-right: 0px !important;
}
  #osama-footer {height: auto !important;}
#blog-pager {
    width:100% !important;
  }
#card-stats {margin-bottom: 110px !important;

  }
  .logo-wrapper {margin-right: -380px !important;}

.col-sm-4 {
    width: 92.333333% ;
    float: left !important;
    margin-left: 0px !important ;
    margin-top: 10px  !important ;
}
.post-outer  {
background: rgba(255, 255, 255, 0);
    padding: 0px;

  }
#loader {

    right: 30% !important;
}
#comments {
    width: 144% !important;
    margin-right: 0px !important;
}
#footer-widget .footer-widget {
    width: 113%    !important;
    text-align: right    !important;
}

    .item-action {margin-right:30px !important;}

#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#main { width:62.82;%}
#footer {width:100%;}
}








@media only screen and (width:640px){


    a img {width:100%  !important}
    img {width:100% !important}
    #osama-item-action-1 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


#footer-widget .footer-widget {
    width: 108.9% !important;
    text-align: right !important;
      margin-right: -20px;}

    .item-title {width: 150% !important;}
    #osama-post-title-1 { width: 115% !important;background: rgba(255, 255, 255, 0);margin-top: -61px;padding: 7px;margin-bottom: 30px;
}
    #osama-post-title-2 {   background-color: #00bcd4 !important;
    width: 150% !important;
    margin-right: -40px;
    height: auto !important; }
    #osama-post-title-3 {    height: auto !important;
    margin-top: -42px;
    margin-top: -40px;
    margin-bottom: 40px; }

    #osama-breadcrumbs {height:auto !important} 
    .slider {width: 100% !important;}
    #osama-display-name-post  {display:none}

#osama-comment {
width: 107% !important;
    margin-right: -11px !important;
height: auto !important;

    }

.col-sm-4 {
margin-left: -9px !important;
    margin-top: 10px !important;
width: 96% !important;
    }
    #osama-post { width: 109% !important;
    margin-right: -28px;

    }
.col-lg-9 {
    width: 133% !important;

margin-right: 26px   !important;
    }

.blog {
    float: right !important;
    width: 100% !important;
    margin-right: -34px;

}
.row .col.l3
{
    width: 133% !important;


    }



#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#sidebar { width:100%;}
    #footer {width:100%;}
.comment_body p {
    margin-top: 110px;
}
.col-sm-4 {
margin-left: 0px !important;
    margin-top: 10px !important;    width: 92% !important;
    float: left !important;
  }

.right {
    float: left !important;
}
#osama-read-more {
font-size: 15px !important;
  }
#osamaweb  {    width: 30% !important;}
  .name {    margin-top: 15px;}
   .card { width: auto !important;
    margin-right: -5px !important;
  }
.card-action-buttons li {
    float: right;
    margin-top: -23px;
    margin-left: 10px;
  }
.row .col.l3 {
    width: 100% !important;
}
#main {
    padding-left: 0px   !important;
}
.mobile-post-outer {
width: 100% !important;
    padding: 30px !important;

  }
  .osama-widget-1 {margin-right:10px !important;}
#footer-widget {
    max-width: 109% !important;
    margin-right: 0px !important;
}
  #osama-footer {height: auto !important;}
#blog-pager {
    width:100% !important;
  }
#card-stats {margin-bottom: 110px !important;

  }
  .logo-wrapper {margin-right: -380px !important;}

.col-sm-4 {
    width: 92.333333% ;
    float: left !important;
    margin-left: 0px !important ;
    margin-top: 10px  !important ;
}
.post-outer  {
background: rgba(255, 255, 255, 0);
    padding: 0px;

  }
#loader {

    right: 30% !important;
}
#comments {
    width: 144% !important;
    margin-right: 0px !important;
}
#footer-widget .footer-widget {
    width: 113%    !important;
    text-align: right    !important;
}

    .item-action {margin-right:30px !important;}

#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#main { width:62.82;%}
#footer {width:100%;}
}
@media only screen and (max-width:640px){


    a img {width:100%  !important}
    img {width:100% !important}
    #osama-item-action-1 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


#footer-widget .footer-widget {
    width: 108.9% !important;
    text-align: right !important;
      margin-right: -20px;}

    .item-title {width: 150% !important;}
    #osama-post-title-1 { width: 115% !important;background: rgba(255, 255, 255, 0);margin-top: -61px;padding: 7px;margin-bottom: 30px;
}
    #osama-post-title-2 {   background-color: #00bcd4 !important;
    width: 150% !important;
    margin-right: -40px;
    height: auto !important; }
    #osama-post-title-3 {    height: auto !important;
    margin-top: -42px;
    margin-top: -40px;
    margin-bottom: 40px; }

    #osama-breadcrumbs {height:auto !important} 
    .slider {width: 100% !important;}
    #osama-display-name-post  {display:none}

#osama-comment {
width: 107% !important;
    margin-right: -11px !important;
height: auto !important;

    }

.col-sm-4 {
margin-left: -9px !important;
    margin-top: 10px !important;
width: 96% !important;
    }
    #osama-post { width: 109% !important;
    margin-right: -28px;

    }
.col-lg-9 {
    width: 133% !important;

margin-right: 26px   !important;
    }

.blog {
    float: right !important;
    width: 100% !important;
    margin-right: -34px;

}
.row .col.l3
{
    width: 133% !important;


    }



#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#sidebar { width:100%;}
    #footer {width:100%;}
.comment_body p {
    margin-top: 110px;
}
.col-sm-4 {
margin-left: 0px !important;
    margin-top: 10px !important;    width: 92% !important;
    float: left !important;
  }

.right {
    float: left !important;
}
#osama-read-more {
font-size: 15px !important;
  }
#osamaweb  {    width: 30% !important;}
  .name {    margin-top: 15px;}
   .card { width: auto !important;
    margin-right: -5px !important;
  }
.card-action-buttons li {
    float: right;
    margin-top: -23px;
    margin-left: 10px;
  }
.row .col.l3 {
    width: 100% !important;
}
#main {
    padding-left: 0px   !important;
}
.mobile-post-outer {
width: 100% !important;
    padding: 30px !important;

  }
  .osama-widget-1 {margin-right:10px !important;}
#footer-widget {
    max-width: 109% !important;
    margin-right: 0px !important;
}
  #osama-footer {height: auto !important;}
#blog-pager {
    width:100% !important;
  }
#card-stats {margin-bottom: 110px !important;

  }
  .logo-wrapper {margin-right: -380px !important;}

.col-sm-4 {
    width: 92.333333% ;
    float: left !important;
    margin-left: 0px !important ;
    margin-top: 10px  !important ;
}
.post-outer  {
background: rgba(255, 255, 255, 0);
    padding: 0px;

  }
#loader {

    right: 30% !important;
}
#comments {
    width: 144% !important;
    margin-right: 0px !important;
}
#footer-widget .footer-widget {
    width: 113%    !important;
    text-align: right    !important;
}

    .item-action {margin-right:30px !important;}
#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#main { width:62.82;%}
#footer {width:100%;}
}














@media only screen and (max-width:768px){

    a img {width:100%  !important}
    img {width:100% !important}
    #osama-item-action-1 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


#footer-widget .footer-widget {
    width: 108.9% !important;
    text-align: right !important;
      margin-right: -20px;}

    .item-title {width: 150% !important;}
    #osama-post-title-1 { width: 115% !important;background: rgba(255, 255, 255, 0);margin-top: -61px;padding: 7px;margin-bottom: 30px;
}
    #osama-post-title-2 {   background-color: #00bcd4 !important;
    width: 150% !important;
    margin-right: -40px;
    height: auto !important; }
    #osama-post-title-3 {    height: auto !important;
    margin-top: -42px;
    margin-top: -40px;
    margin-bottom: 40px; }

    #osama-breadcrumbs {height:auto !important} 
    .slider {width: 100% !important;}
    #osama-display-name-post  {display:none}

#osama-comment {
width: 107% !important;
    margin-right: -11px !important;
height: auto !important;

    }

.col-sm-4 {
margin-left: -9px !important;
    margin-top: 10px !important;
width: 96% !important;
    }
    #osama-post { width: 109% !important;
    margin-right: -28px;

    }
.col-lg-9 {
    width:133% !important;

margin-right: 26px   !important;
    }

.blog {
    float: right !important;
    width: 100% !important;
    margin-right: -34px;

}
.row .col.l3
{
    width: 133% !important;


    }



#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#sidebar { width:100%;}
    #footer {width:100%;}
.comment_body p {
    margin-top: 110px;
}
.col-sm-4 {
margin-left: 0px !important;
    margin-top: 10px !important;    width: 92% !important;
    float: left !important;
  }

.right {
    float: left !important;
}
#osama-read-more {
font-size: 15px !important;
  }
#osamaweb  {    width: 30% !important;}
  .name {    margin-top: 15px;}
   .card { width: auto !important;
    margin-right: -5px !important;
  }
.card-action-buttons li {
    float: right;
    margin-top: -23px;
    margin-left: 10px;
  }
.row .col.l3 {
    width: 100% !important;
}
#main {
    padding-left: 0px   !important;
}
.mobile-post-outer {
width: 100% !important;
    padding: 30px !important;

  }
  .osama-widget-1 {margin-right:10px !important;}
#footer-widget {
    max-width: 109% !important;
    margin-right: 0px !important;
}
  #osama-footer {height: auto !important;}
#blog-pager {
    width:100% !important;
  }
#card-stats {margin-bottom: 110px !important;

  }
  .logo-wrapper {margin-right: -380px !important;}

.col-sm-4 {
    width: 92.333333% ;
    float: left !important;
    margin-left: 0px !important ;
    margin-top: 10px  !important ;
}
.post-outer  {
background: rgba(255, 255, 255, 0);
    padding: 0px;

  }
#loader {

    right: 30% !important;
}
#comments {
    width: 144% !important;
    margin-right: 0px !important;
}
#footer-widget .footer-widget {
    width: 113%    !important;
    text-align: right    !important;
}

    .item-action {margin-right:30px !important;}

#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#main { width:62.82;%}
#footer {width:100%;}
}
@media (min-width:768px) and (max-width:979px) {


    a img {width:100%  !important}
    img {width:100% !important}
    #osama-item-action-1 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


#footer-widget .footer-widget {
    width: 108.9% !important;
    text-align: right !important;
      margin-right: -20px;}

    .item-title {width: 150% !important;}
    #osama-post-title-1 { width: 115% !important;background: rgba(255, 255, 255, 0);margin-top: -61px;padding: 7px;margin-bottom: 30px;
}
    #osama-post-title-2 {   background-color: #00bcd4 !important;
    width: 150% !important;
    margin-right: -40px;
    height: auto !important; }
    #osama-post-title-3 {    height: auto !important;
    margin-top: -42px;
    margin-top: -40px;
    margin-bottom: 40px; }

    #osama-breadcrumbs {height:auto !important} 
    .slider {width: 100% !important;}
    #osama-display-name-post  {display:none}

#osama-comment {
width: 107% !important;
    margin-right: -11px !important;
height: auto !important;

    }

.col-sm-4 {
margin-left: -9px !important;
    margin-top: 10px !important;
width: 96% !important;
    }
    #osama-post { width: 109% !important;
    margin-right: -28px;

    }
.col-lg-9 {
    width: 133% !important;

margin-right: 26px   !important;
    }

.blog {
    float: right !important;
    width: 52% !important;
    margin-right: -34px;

}
.row .col.l3
{
    width: 133% !important;


    }



#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#sidebar { width:100%;}
    #footer {width:100%;}
.comment_body p {
    margin-top: 110px;
}
.col-sm-4 {
margin-left: 0px !important;
    margin-top: 10px !important;    width: 92% !important;
    float: left !important;
  }

.right {
    float: left !important;
}
#osama-read-more {
font-size: 15px !important;
  }
#osamaweb  {    width: 30% !important;}
  .name {    margin-top: 15px;}
   .card { width: auto !important;
    margin-right: -5px !important;
  }
.card-action-buttons li {
    float: right;
    margin-top: -23px;
    margin-left: 10px;
  }
.row .col.l3 {
    width: 100% !important;
}
#main {
    padding-left: 0px   !important;
}
.mobile-post-outer {
width: 100% !important;
    padding: 30px !important;

  }
  .osama-widget-1 {margin-right:10px !important;}
#footer-widget {
    max-width: 109% !important;
    margin-right: 0px !important;
}
  #osama-footer {height: auto !important;}
#blog-pager {
    width:100% !important;
  }
#card-stats {margin-bottom: 110px !important;

  }
  .logo-wrapper {margin-right: -380px !important;}

.col-sm-4 {
    width: 92.333333%;
    float: left !important;
    margin-left: 0px !important ;
    margin-top: 10px  !important ;
}
.post-outer  {
background: rgba(255, 255, 255, 0);
    padding: 0px;

  }
#loader {

    right: 30% !important;
}
#comments {
    width: 144% !important;
    margin-right: 0px !important;
}
#footer-widget .footer-widget {
    width: 113%    !important;
    text-align: right    !important;
}

    .item-action {margin-right:30px !important;}
#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#main { width:62.82;%}
#footer {width:100%;}
}
@media (max-width:767px) {
#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#main { width:62.82;%}
#footer {width:100%;}
}








@media only screen and (max-width:480px){


    a img {width:100%  !important}
    img {width:100% !important}
    #osama-item-action-1 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


#footer-widget .footer-widget {
    width: 108.9% !important;
    text-align: right !important;
      margin-right: -20px;}

    .item-title {width: 150% !important;}
    #osama-post-title-1 { width: 115% !important;background: rgba(255, 255, 255, 0);margin-top: -61px;padding: 7px;margin-bottom: 30px;
}
    #osama-post-title-2 {   background-color: #00bcd4 !important;
    width: 150% !important;
    margin-right: -40px;
    height: auto !important; }
    #osama-post-title-3 {    height: auto !important;
    margin-top: -42px;
    margin-top: -40px;
    margin-bottom: 40px; }

    #osama-breadcrumbs {height:auto !important} 
    .slider {width: 100% !important;}
    #osama-display-name-post  {display:none}

#osama-comment {
width: 107% !important;
    margin-right: -11px !important;
height: auto !important;

    }

.col-sm-4 {
margin-left: -9px !important;
    margin-top: 10px !important;
width: 96% !important;
    }
    #osama-post { width: 109% !important;
    margin-right: -28px;

    }
.col-lg-9 {
    width: 133% !important;

margin-right: 26px   !important;
    }

.blog {
    float: right !important;
    width: 100% !important;
    margin-right: -34px;

}
.row .col.l3
{
    width: 133% !important;


    }



#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#sidebar { width:100%;}
    #footer {width:100%;}
.comment_body p {
    margin-top: 110px;
}
.col-sm-4 {
margin-left: 0px !important;
    margin-top: 10px !important;    width: 92% !important;
    float: left !important;
  }

.right {
    float: left !important;
}
#osama-read-more {
font-size: 15px !important;
  }
#osamaweb  {    width: 30% !important;}
  .name {    margin-top: 15px;}
   .card { width: auto !important;
    margin-right: -5px !important;
  }
.card-action-buttons li {
    float: right;
    margin-top: -23px;
    margin-left: 10px;
  }
.row .col.l3 {
    width: 100% !important;
}
#main {
    padding-left: 0px   !important;
}
.mobile-post-outer {
width: 100% !important;
    padding: 30px !important;

  }
  .osama-widget-1 {margin-right:10px !important;}
#footer-widget {
    max-width: 109% !important;
    margin-right: 0px !important;
}
  #osama-footer {height: auto !important;}
#blog-pager {
    width:100% !important;
  }
#card-stats {margin-bottom: 110px !important;

  }
  .logo-wrapper {margin-right: -380px !important;}

.col-sm-4 {
    width: 92.333333% ;
    float: left !important;
    margin-left: 0px !important ;
    margin-top: 10px  !important ;
}
.post-outer  {
background: rgba(255, 255, 255, 0);
    padding: 0px;

  }
#loader {

    right: 30% !important;
}
#comments {
    width: 144% !important;
    margin-right: 0px !important;
}
#footer-widget .footer-widget {
    width: 113%    !important;
    text-align: right    !important;
}

    .item-action {margin-right:30px !important;}

#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#main { width:62.82;%}
#footer {width:100%;}
#main { width:100%;}
}
@media screen and (max-width:320px){

    a img {width:100%  !important}
    img {width:100% !important}
    #osama-item-action-1 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


#footer-widget .footer-widget {
    width: 108.9% !important;
    text-align: right !important;
      margin-right: -20px;}

    .item-title {width: 150% !important;}
    #osama-post-title-1 { width: 115% !important;background: rgba(255, 255, 255, 0);margin-top: -61px;padding: 7px;margin-bottom: 30px;
}
    #osama-post-title-2 {   background-color: #00bcd4 !important;
    width: 150% !important;
    margin-right: -40px;
    height: auto !important; }
    #osama-post-title-3 {    height: auto !important;
    margin-top: -42px;
    margin-top: -40px;
    margin-bottom: 40px; }

    #osama-breadcrumbs {height:auto !important} 
    .slider {width: 100% !important;}
    #osama-display-name-post  {display:none}

#osama-comment {
width: 107% !important;
    margin-right: -11px !important;
height: auto !important;

    }

.col-sm-4 {
margin-left: -9px !important;
    margin-top: 10px !important;
width: 96% !important;
    }
    #osama-post { width: 109% !important;
    margin-right: -28px;

    }
.col-lg-9 {
    width: 133% !important;

margin-right: 26px   !important;
    }

.blog {
    float: right !important;
    width: 100% !important;
    margin-right: -34px;

}
.row .col.l3
{
    width: 133% !important;


    }



#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#sidebar { width:100%;}
    #footer {width:100%;}
.comment_body p {
    margin-top: 110px;
}
.col-sm-4 {
margin-left: 0px !important;
    margin-top: 10px !important;    width: 92% !important;
    float: left !important;
  }

.right {
    float: left !important;
}
#osama-read-more {
font-size: 15px !important;
  }
#osamaweb  {    width: 30% !important;}
  .name {    margin-top: 15px;}
   .card { width: auto !important;
    margin-right: -5px !important;
  }
.card-action-buttons li {
    float: right;
    margin-top: -23px;
    margin-left: 10px;
  }
.row .col.l3 {
    width: 100% !important;
}
#main {
    padding-left: 0px   !important;
}
.mobile-post-outer {
width: 100% !important;
    padding: 30px !important;

  }
  .osama-widget-1 {margin-right:10px !important;}
#footer-widget {
    max-width: 109% !important;
    margin-right: 0px !important;
}
  #osama-footer {height: auto !important;}
#blog-pager {
    width:100% !important;
  }
#card-stats {margin-bottom: 110px !important;

  }
  .logo-wrapper {margin-right: -380px !important;}

.col-sm-4 {
    width: 92.333333% ;
    float: left !important;
    margin-left: 0px !important ;
    margin-top: 10px  !important ;
}
.post-outer  {
background: rgba(255, 255, 255, 0);
    padding: 0px;

  }
#loader {

    right: 30% !important;
}
#comments {
    width: 144% !important;
    margin-right: 0px !important;
}
#footer-widget .footer-widget {
    width: 113%    !important;
    text-align: right    !important;
}

    .item-action {margin-right:30px !important;}


#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#main { width:62.82;%}
#footer {width:100%;}
#main { width:100%;}
}

@media screen and (max-width:960px) {


    a img {width:100%  !important}
    img {width:100% !important}
    #osama-item-action-1 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


#footer-widget .footer-widget {
    width: 108.9% !important;
    text-align: right !important;
      margin-right: -20px;}

    .item-title {width: 150% !important;}
    #osama-post-title-1 { width: 115% !important;background: rgba(255, 255, 255, 0);margin-top: -61px;padding: 7px;margin-bottom: 30px;
}
    #osama-post-title-2 {   background-color: #00bcd4 !important;
    width: 150% !important;
    margin-right: -40px;
    height: auto !important; }
    #osama-post-title-3 {    height: auto !important;
    margin-top: -42px;
    margin-top: -40px;
    margin-bottom: 40px; }

    #osama-breadcrumbs {height:auto !important} 
    .slider {width: 100% !important;}
    #osama-display-name-post  {display:none}

#osama-comment {
width: 107% !important;
    margin-right: -11px !important;
height: auto !important;

    }

.col-sm-4 {
margin-left: -9px !important;
    margin-top: 10px !important;
width: 96% !important;
    }
    #osama-post { width: 109% !important;
    margin-right: -28px;

    }
.col-lg-9 {
    width: 133% !important;

margin-right: 26px   !important;
    }

.blog {
    float: right !important;
    width: 52% ;
    margin-right: -34px;

}
.row .col.l3
{
    width: 133% !important;


    }



#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#sidebar { width:100%;}
    #footer {width:100%;}
.comment_body p {
    margin-top: 110px;
}
.col-sm-4 {
margin-left: 0px !important;
    margin-top: 10px !important;    width: 92% !important;
    float: left !important;
  }

.right {
    float: left !important;
}
#osama-read-more {
font-size: 15px !important;
  }
#osamaweb  {    width: 30% !important;}
  .name {    margin-top: 15px;}
   .card { width: auto !important;
    margin-right: -5px !important;
  }
.card-action-buttons li {
    float: right;
    margin-top: -23px;
    margin-left: 10px;
  }
.row .col.l3 {
    width: 100% !important;
}
#main {
    padding-left: 0px   !important;
}
.mobile-post-outer {
width: 100% !important;
    padding: 30px !important;

  }
  .osama-widget-1 {margin-right:10px !important;}
#footer-widget {
    max-width: 109% !important;
    margin-right: 0px !important;
}
  #osama-footer {height: auto !important;}
#blog-pager {
    width:100% !important;
  }
#card-stats {margin-bottom: 110px !important;

  }
  .logo-wrapper {margin-right: -380px !important;}

.col-sm-4 {
    width: 92.333333% ;
    float: left !important;
    margin-left: 0px !important ;
    margin-top: 10px  !important ;
}
.post-outer  {
background: rgba(255, 255, 255, 0);
    padding: 0px;

  }
#loader {

    right: 30% !important;
}
#comments {
    width: 144% !important;
    margin-right: 0px !important;
}
#footer-widget .footer-widget {
    width: 113%    !important;
    text-align: right    !important;
}

    .item-action {margin-right:30px !important;}
#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#main { width:62.82;%}
#footer {width:100%;}
}













@media only screen and (max-width:480px){

    a img {width:100%  !important}
    img {width:100% !important}
    #osama-item-action-1 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


#footer-widget .footer-widget {
    width: 108.9% !important;
    text-align: right !important;
      margin-right: -20px;}

    .item-title {width: 150% !important;}
    #osama-post-title-1 { width: 115% !important;background: rgba(255, 255, 255, 0);margin-top: -61px;padding: 7px;margin-bottom: 30px;
}
    #osama-post-title-2 {   background-color: #00bcd4 !important;
    width: 150% !important;
    margin-right: -40px;
    height: auto !important; }
    #osama-post-title-3 {    height: auto !important;
    margin-top: -42px;
    margin-top: -40px;
    margin-bottom: 40px; }

    #osama-breadcrumbs {height:auto !important} 
    .slider {width: 100% !important;}
    #osama-display-name-post  {display:none}

#osama-comment {
width: 107% !important;
    margin-right: -11px !important;
height: auto !important;

    }

.col-sm-4 {
margin-left: -9px !important;
    margin-top: 10px !important;
width: 96% !important;
    }
    #osama-post { width: 109% !important;
    margin-right: -28px;

    }
.col-lg-9 {
    width: 133% !important;

margin-right: 26px   !important;
    }

.blog {
    float: right !important;
    width: 100% !important;
    margin-right: -34px;

}
.row .col.l3
{
    width: 133% !important;


    }



#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#sidebar { width:100%;}
    #footer {width:100%;}
.comment_body p {
    margin-top: 110px;
}
.col-sm-4 {
margin-left: 0px !important;
    margin-top: 10px !important;    width: 92% !important;
    float: left !important;
  }

.right {
    float: left !important;
}
#osama-read-more {
font-size: 15px !important;
  }
#osamaweb  {    width: 30% !important;}
  .name {    margin-top: 15px;}
   .card { width: auto !important;
    margin-right: -5px !important;
  }
.card-action-buttons li {
    float: right;
    margin-top: -23px;
    margin-left: 10px;
  }
.row .col.l3 {
    width: 100% !important;
}
#main {
    padding-left: 0px   !important;
}
.mobile-post-outer {
width: 100% !important;
    padding: 30px !important;

  }
  .osama-widget-1 {margin-right:10px !important;}
#footer-widget {
    max-width: 109% !important;
    margin-right: 0px !important;
}
  #osama-footer {height: auto !important;}
#blog-pager {
    width:100% !important;
  }
#card-stats {margin-bottom: 110px !important;

  }
  .logo-wrapper {margin-right: -380px !important;}

.col-sm-4 {
    width: 92.333333% ;
    float: left !important;
    margin-left: 0px !important ;
    margin-top: 10px  !important ;
}
.post-outer  {
background: rgba(255, 255, 255, 0);
    padding: 0px;

  }
#loader {

    right: 30% !important;
}
#comments {
    width: 144% !important;
    margin-right: 0px !important;
}
#footer-widget .footer-widget {
    width: 113%    !important;
    text-align: right    !important;
}

    .item-action {margin-right:30px !important;}


#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#main { width:62.82;%}
#sidebar { width:100%;}
#footer {width:100%;}
#main { width:100%;}
}
@media screen and (max-width:320px){


    a img {width:100%  !important}
    img {width:100% !important}
    #osama-item-action-1 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


#footer-widget .footer-widget {
    width: 108.9% !important;
    text-align: right !important;
      margin-right: -20px;}

    .item-title {width: 150% !important;}
    #osama-post-title-1 { width: 115% !important;background: rgba(255, 255, 255, 0);margin-top: -61px;padding: 7px;margin-bottom: 30px;
}
    #osama-post-title-2 {   background-color: #00bcd4 !important;
    width: 150% !important;
    margin-right: -40px;
    height: auto !important; }
    #osama-post-title-3 {    height: auto !important;
    margin-top: -42px;
    margin-top: -40px;
    margin-bottom: 40px; }

    #osama-breadcrumbs {height:auto !important} 
    .slider {width: 100% !important;}
    #osama-display-name-post  {display:none}

#osama-comment {
width: 107% !important;
    margin-right: -11px !important;
height: auto !important;

    }

.col-sm-4 {
margin-left: -9px !important;
    margin-top: 10px !important;
width: 96% !important;
    }
    #osama-post { width: 109% !important;
    margin-right: -28px;

    }
.col-lg-9 {
    width: 133% !important;

margin-right: 26px   !important;
    }

.blog {
    float: right !important;
    width: 100% !important;
    margin-right: -34px;

}
.row .col.l3
{
    width: 133% !important;


    }



#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#sidebar { width:100%;}
    #footer {width:100%;}
.comment_body p {
    margin-top: 110px;
}
.col-sm-4 {
margin-left: 0px !important;
    margin-top: 10px !important;    width: 92% !important;
    float: left !important;
  }

.right {
    float: left !important;
}
#osama-read-more {
font-size: 15px !important;
  }
#osamaweb  {    width: 30% !important;}
  .name {    margin-top: 15px;}
   .card { width: auto !important;
    margin-right: -5px !important;
  }
.card-action-buttons li {
    float: right;
    margin-top: -23px;
    margin-left: 10px;
  }
.row .col.l3 {
    width: 100% !important;
}
#main {
    padding-left: 0px   !important;
}
.mobile-post-outer {
width: 100% !important;
    padding: 30px !important;

  }
  .osama-widget-1 {margin-right:10px !important;}
#footer-widget {
    max-width: 109% !important;
    margin-right: 0px !important;
}
  #osama-footer {height: auto !important;}
#blog-pager {
    width:100% !important;
  }
#card-stats {margin-bottom: 110px !important;

  }
  .logo-wrapper {margin-right: -380px !important;}

.col-sm-4 {
    width: 92.333333%;
    float: left !important;
    margin-left: 0px !important ;
    margin-top: 10px  !important ;
}
.post-outer  {
background: rgba(255, 255, 255, 0);
    padding: 0px;

  }
#loader {

    right: 30% !important;
}
#comments {
    width: 144% !important;
    margin-right: 0px !important;
}
#footer-widget .footer-widget {
    width: 113%    !important;
    text-align: right    !important;
}

    .item-action {margin-right:30px !important;}

#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#main { width:62.82;%}
#sidebar { width:100%;}
#footer {width:100%;}
#main { width:100%;}
}


@media screen and (max-width:960px) {


    a img {width:100%  !important}
    img {width:100% !important}
    #osama-item-action-1 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


    #osama-item-action-2 {margin-bottom: 20px;
    width: 100%;}


#footer-widget .footer-widget {
    width: 108.9% !important;
    text-align: right !important;
      margin-right: -20px;}

    .item-title {width: 150% !important;}
    #osama-post-title-1 { width: 115% !important;background: rgba(255, 255, 255, 0);margin-top: -61px;padding: 7px;margin-bottom: 30px;
}
    #osama-post-title-2 {   background-color: #00bcd4 !important;
    width: 150% !important;
    margin-right: -40px;
    height: auto !important; }
    #osama-post-title-3 {    height: auto !important;
    margin-top: -42px;
    margin-top: -40px;
    margin-bottom: 40px; }

    #osama-breadcrumbs {height:auto !important} 
    .slider {width: 100% !important;}
    #osama-display-name-post  {display:none}

#osama-comment {
width: 107% !important;
    margin-right: -11px !important;
height: auto !important;

    }

.col-sm-4 {
margin-left: -9px !important;
    margin-top: 10px !important;
width: 96% !important;
    }
    #osama-post { width: 109% !important;
    margin-right: -28px;

    }
.col-lg-9 {
    width: 133% !important;

margin-right: 26px   !important;
    }

.blog {
    float: right !important;
    width: 52% ;
    margin-right: -34px;

}
.row .col.l3
{
    width: 133% !important;


    }



#menu-top {width:100%;}
#header {width:100%; }
#menu-2 {width:100%;}
#content-wrapper {width:100%; }
#sidebar { width:100%;}
    #footer {width:100%;}
.comment_body p {
    margin-top: 110px;
}
.col-sm-4 {
margin-left: 0px !important;
    margin-top: 10px !important;    width: 92% !important;
    float: left !important;
  }

.right {
    float: left !important;
}
#osama-read-more {
font-size: 15px !important;
  }
#osamaweb  {    width: 30% !important;}
  .name {    margin-top: 15px;}
   .card { width: auto !important;
    margin-right: -5px !important;
  }
.card-action-buttons li {
    float: right;
    margin-top: -23px;
    margin-left: 10px;
  }
.row .col.l3 {
    width: 100% !important;
}
#main {
    padding-left: 0px   !important;
}
.mobile-post-outer {
width: 100% !important;
    padding: 30px !important;

  }
  .osama-widget-1 {margin-right:10px !important;}
#footer-widget {
    max-width: 109% !important;
    margin-right: 0px !important;
}
  #osama-footer {height: auto !important;}
#blog-pager {
    width:100% !important;
  }
#card-stats {margin-bottom: 110px !important;

  }
  .logo-wrapper {margin-right: -380px !important;}

.col-sm-4 {
    width: 92.333333% ;
    float: left !important;
    margin-left: 0px !important ;
    margin-top: 10px  !important ;
}
.post-outer  {
background: rgba(255, 255, 255, 0);
    padding: 0px;

  }
#loader {

    right: 30% !important;
}
#comments {
    width: 144% !important;
    margin-right: 0px !important;
}
#footer-widget .footer-widget {
    width: 113%    !important;
    text-align: right    !important;
}

    .item-action {margin-right:30px !important;}
  }
